**/*
!/**/*.ts
!/**/*.js
!/**/*.mjs
!/package.json
!/jsr.json
!/dist/**/*.json
!/esm/**/*.json

/eslint.config.mjs
/.oxlintrc.json
/examples
/scripts
/tests
/vitest.config.ts
/**/*.test.ts
/**/*.map
/cjs
/.tshy
/.tshy-*
/__tests__
